settings = ApplicationSetting.current
settings.update!({
  {{ gitlab_application_settings | map(attribute='name') | zip(gitlab_application_settings | map(attribute='value')) | map('join', ': ') | join(', ') }}
})
settings.save!